@font-face {
    font-family: 'Nika-regular';
    src: url('../assets/fonts/Nika-Regular.ttf') format('truetype'),
        url('../assets/fonts/Nika-Regular.woff') format('woff'),
        url('../assets/fonts/Nika-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --lightGray: #e7ecef;
    --black: #272932;
    --blue: #0f7173;
    --red: #f05d5e;
    --clay: #d8a47f;
}
html {
    font-family: 'Nika-regular';
}
body, * {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
}

.top-header {
    background-color: var(--lightGray);
}
.bottom-header {
    background-color: var(--black);
    display: flex;
    align-items: center;
    height: 40px;
}
.bottom-header nav {
    flex: 2;
}
.search-frame {
    flex: 1;
    position: absolute;
    left: 15px;
}

.top-nav ul {
    list-style: none;
}
.top-nav ul li {
    display: inline-block;
}
.top-nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 4px;
    font-size: 16px;
}
.top-nav ul li a:hover {
    color: var(--clay);
}
.search-input {
    padding: 4px;
    box-sizing: border-box;
}
.search-icon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translate(0,-50%);
    background-color: transparent;
    border: none;
    opacity: 0.3;
}
.search-icon:hover {
    opacity: 1;
}
